# ============================================
# streamlit cloudのsecretsも以下を貼り付ければOK
# ============================================
#OpenAI_API
OPENAI_API_KEY = "Your OpenAI API KEY"

#supabase
SUPABASE_URL="Your Supabase Project URL"
SUPABASE_KEY="Your Supabase API Key"

#Google Cloud Vision APIキー（APIキーを使用する場合）
GOOGLE_VISION_API_KEY="Your Google Cloud Vision API Key"