#OpenAI_API
OPENAI_API_KEY = "Your OpenAI API KEY"

#supabase
SUPABASE_URL="Your Supabase Project URL"
SUPABASE_KEY="Your Supabase API Key"

#Google Cloud Vision APIを使うためのサービスアカウントキー(JSON)へのパス
GOOGLE_APPLICATION_CREDENTIALS="/path/to/your/gcp-service-account.json"